 left-
.container{
  background-color:black;
  height: 200px;
  
}
.content{
 margin:45px;
 padding:65px;
}
body{
  background-color:lightgrey;
}
.content2{

  background-color:black;
  
  margin: 100px;
}
.content2, img,h2{
 vertical-align:middle;
 text-align:center;
 color:white;
}
@media screen and (max-width:500px){
  .content2 img{
    margin:auto;
    width:100%;
  }
}
#HCB_comment_box{
  margin:100px;
}
img{
   width:300;
  height:300;

}
img { 
    max-width: 100%; 
    height: auto; 
}
h1{
  color: red;
  text-align:center;


}
